<h1>Hello devops</h1>
<h1>Définition DEVOPS</h1>
<div>DevOps est une approche de développement logiciel qui vise à combiner les pratiques de développement de logiciels
    (Development) avec les opérations informatiques (Operations) pour améliorer la collaboration, la communication, et
    l'efficacité tout au long du cycle de vie du développement logiciel. L'objectif principal de DevOps est de permettre
    aux organisations de livrer des applications et des services à un rythme plus rapide, avec une meilleure qualité et
    une plus grande fiabilité.
</div>